<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/application.css">

 <%= partial :header %>
<body>

  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>


  <%= partial :show_errors %>
 

  <%= yield %>
</body>
</html>