<body>
  <% if current_user %>
   Welcome, <%= current_user.email %>
   <% end %>
   <% if flash.now[:errors] && !flash.now[:errors].empty? %>
   Sorry, there were the following errors with your form
     <ul id="errors">
        <% flash.now[:errors].each do |error| %>
          <li><%= error %></li>
      <% end %>
  </ul>
  <% end %>
  <%= yield %>
</body>