body {
  font-family: Helvetica, Arial, Sans-serif; background-color: blue;
}

a.button {
  display: inline-block; /* display inline but have dimensions */
  width: 80px;
  background-color: blue;
  border: 2px solid white;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
}

header {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 5px;
}

  /* every immediate child to be vertically centered */
  header > * {
    margin: auto 0;
  }
  header #logo {    
    display: flex;      
  }

  header #user-links {
    flex: 1; /* http://learnlayout.com/flexbox.html */
    -webkit-flex: 1;
    text-align: right;  
  }